{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
  <div class="form-container">
    <div class="windows95-form">
        <div class="windows95-form-title">
        <h2 class="windows95-form-title-text">Register</h2>
    </div>
  <form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="windows95-submit-button">{% trans "Sign Up" %} &raquo;</button>
  </form>
    </div>
  </div>
{% endblock content %}