{% extends "base.html" %}

{% block content %}

<!-- Page Content -->
<div class="container mt-3 min-vh-100">
    <div class="about-us">
        <div class="container py-5 d-flex justify-content-center align-items-center">
            <div>
                <h1 class="fw-bold text-white">This is the about us age</h1>
            </div>
        </div>
    </div>

    <div class="text-center mt-5 p-4 h3 rfs-11 fw-light">
        <hr class="w-50 mx-auto mb-5">
        <p class="lh-lg">
            mentor matrix
        </p>
        <hr class="w-50 mx-auto mt-5">
    </div>

    <h2 class="mb-4 text-center members"><strong>Team Members</strong></h2>




    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-3 p-3">
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Anne image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Anne</h5>
                            <p class="card-text text-justify-custom">write here!
                            </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Anne's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Anne's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Ciaran image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Ciaran</h5>
                        <p class="card-text text-justify-custom">Write here!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Ciaran's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Ciaran's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Noah image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Noah</h5>
                        <p class="card-text text-justify-custom">Write here!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Noah's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Noah's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-3 mb-4 p-3">
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Nonty image">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bold members">Nonty</h4>
                        <p class="card-text text-justify-custom">Write here!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Nonty's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Nonty's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Amina image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Amina</h5>
                        <p class="card-text text-justify-custom">Write here!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Amina's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Amins's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Amina image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Jo</h5>
                        <p class="card-text text-justify-custom">Write here!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Jo's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Jo's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Andrew's image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Andrew</h5>
                        <p class="card-text text-start">Write here</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Andrew's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Vernell's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}