{% extends "base.html" %} 
{% load static %}
{% block content %}

<!-- Page Content -->

<div class="form-container mx-auto p-6">
  <!-- Grid layout to display boxes -->
  <div
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6"
  >
    <!-- Anne -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
      <div class="windows95-form-title">
      <h2 class="windows95-form-title-text">Anne</h2>
      </div>
      <div class="about-images">
        <img src="{% static 'images/profile-anne.png' %}" alt="Anne's profile image">
      </div>
      <table class="w-full">
        <tr>
            <td class="text-left font-semibold">Role:</td>
            <td class="text-right">Frontend, Backend, Scrum Lead</td>
        </tr>
        <tr>
            <td class="text-left font-semibold">Github:</td>
            <td class="text-right"><a href="https://github.com/yourusername" target="_blank">Your Github Link</a></td>
        </tr>
    </table>
    </div>

    <!-- Amina -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Amina</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-amina.png' %}" alt="Amina's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Backend</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/aminoacid-01" target="_blank">aminoacid-01</a></td>
            </tr>
        </table>
    </div>

    <!-- Andrew -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Andrew</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-andrew.png' %}" alt="Andrew's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Frontend</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/andrewpmilne" target="_blank">andrewpmilne</a></td>
            </tr>
        </table>
    </div>

    <!-- Ciaran -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Ciaran</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-ciaran.png' %}" alt="Ciaran's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Frontend, Backend</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/ciarangriffin93" target="_blank">ciarangriffin93</a></td>
            </tr>
        </table>
    </div>

    <!-- Jo -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Jo</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-jo.png' %}" alt="Jo's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Frontend, Backend</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/Jo-JPEG" target="_blank">Jo-JPEG</a></td>
            </tr>
        </table>
    </div>

    <!-- Noah -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Noah</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-noah.png' %}" alt="Noah's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Frontend, Backend</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/Noah-Samawi" target="_blank">Noah-Samawi</a></td>
            </tr>
        </table>
    </div>

    <!-- Nonty -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-x mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Nonty</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-nonty.png' %}" alt="Nonty's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Backend, Scrum Assistant</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/NontyD" target="_blank">NontyD</a></td>
            </tr>
        </table>
    </div>
  </div>
</div>

<!-- Old code
<div class="container mt-3 min-vh-100">
    <div class="about-us">
        <div class="container py-5 d-flex justify-content-center align-items-center">
            <div>
                <h1 class="fw-bold text-white">This is the about us age</h1>
            </div>
        </div>
    </div>

    <div class="text-center mt-5 p-4 h3 rfs-11 fw-light">
        <hr class="w-50 mx-auto mb-5">
        <p class="lh-lg">
            mentor matrix
        </p>
        <hr class="w-50 mx-auto mt-5">
    </div>

    <h2 class="mb-4 text-center members"><strong>Team Members</strong></h2>




    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-3 p-3">
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Anne image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Anne</h5>
                            <p class="card-text text-justify-custom">write here!
                            </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Anne's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Anne's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Ciaran image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Ciaran</h5>
                        <p class="card-text text-justify-custom">Write here!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Ciaran's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Ciaran's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Noah image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Noah</h5>
                        <p class="card-text text-justify-custom">Write here!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Noah's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Noah's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-3 mb-4 p-3">
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Nonty image">
                    <div class="card-body text-center">
                        <h4 class="card-title fw-bold members">Nonty</h4>
                        <p class="card-text text-justify-custom">Write here!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Nonty's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Nonty's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Amina image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Amina</h5>
                        <p class="card-text text-justify-custom">Write here!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Amina's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Amins's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Amina image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Jo</h5>
                        <p class="card-text text-justify-custom">Write here!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Jo's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Jo's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-card p-2 h-100">
                    <img class="card-img-top rounded-circle img-fluid w-50 mx-auto d-block"
                        src="" alt="Andrew's image">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold members">Andrew</h5>
                        <p class="card-text text-start">Write here</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" target="_blank"
                            aria-label="Andrew's LinkedIn"><i class="fab fa-linkedin fa-2x"
                                style="color: #355FAA"></i></a>
                        <a href="" target="_blank" aria-label="Vernell's GitHub"><i
                                class="fab fa-github fa-2x" style="color: #355FAA"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
-->

{% endblock %}
