{% extends "base.html" %} 
{% load static %}
{% block content %}

<!-- Page Content -->

<div class="form-container mx-auto p-6">
  <!-- Grid layout to display boxes -->
  <div
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-6"
  >
    <!-- Anne -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
      <div class="windows95-form-title">
      <h2 class="windows95-form-title-text">Anne</h2>
      </div>
      <div class="about-images">
        <img src="{% static 'images/profile-anne.webp' %}" alt="Anne's profile image">
      </div>
      <table class="w-full">
        <tr>
            <td class="text-left font-semibold">Role:</td>
            <td class="text-right">Frontend, Backend, Scrum Lead</td>
        </tr>
        <tr>
            <td class="text-left font-semibold">Github:</td>
            <td class="text-right"><a href="https://github.com/anchvo" target="_blank">anchvo</a></td>
        </tr>
    </table>
    </div>

    <!-- Amina -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Amina</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-amina.webp' %}" alt="Amina's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Frontend, Backend, Presenting</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/aminoacid-01" target="_blank">aminoacid-01</a></td>
            </tr>
        </table>
    </div>

    <!-- Andrew -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Andrew</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-andrew.webp' %}" alt="Andrew's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Frontend</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/andrewpmilne" target="_blank">andrewpmilne</a></td>
            </tr>
        </table>
    </div>

    <!-- Ciaran -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Ciaran</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-ciaran.webp' %}" alt="Ciaran's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Frontend, Backend</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/ciarangriffin93" target="_blank">ciarangriffin93</a></td>
            </tr>
        </table>
    </div>

    <!-- Jo -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Jo</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-jo.webp' %}" alt="Jo's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Frontend, Backend</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/Jo-JPEG" target="_blank">Jo-JPEG</a></td>
            </tr>
        </table>
    </div>

    <!-- Noah -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Noah</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-noah.webp' %}" alt="Noah's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Frontend, Backend</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/Noah-Samawi" target="_blank">Noah-Samawi</a></td>
            </tr>
        </table>
    </div>

    <!-- Nonty -->
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Nonty</h2>
        </div>
        <div class="about-images">
            <img src="{% static 'images/profile-nonty.webp' %}" alt="Nonty's profile image">
        </div>
        <table class="w-full">
            <tr>
                <td class="text-left font-semibold">Role:</td>
                <td class="text-right">Backend, Scrum Assistant</td>
            </tr>
            <tr>
                <td class="text-left font-semibold">Github:</td>
                <td class="text-right"><a href="https://github.com/NontyD" target="_blank">NontyD</a></td>
            </tr>
        </table>
    </div>
  </div>
</div>

{% endblock %}
