{% extends "base.html" %} {% block content %}
<div
  class="windows95-container w-[80%] mx-auto mt-10 p-4 border-2 border-gray-400 bg-gray-300 shadow-md rounded-md"
>
  <div class="windows95-form-title">
    <h2 class="windows95-form-title-text">Dashboard</h2>
  </div>
  <div class="header sm:text-lg">
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    {% endif %}
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
    {% if user.is_authenticated %}
    <div
      class="windows95-box max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
      <div class="windows95-form-title">
        <h2 class="windows95-form-title-text">Your Profile</h2>
      </div>
      <table class="w-full">
        <tr>
            <td class="text-left font-semibold">Email:</td>
            {% if user.email %}
            <td class="text-right">{{ user.email }}</td>
            {% else %}
            <td class="text-right">You haven't set up an email yet.</td>
            {% endif %}
        </tr>
        <tr>
            <td class="text-left font-semibold">Bio:</td>
            {% if profile.bio %}
            <td class="text-right">{{ profile.bio }}</td>
            {% else %}
            <td class="text-right">You haven't set up your bio yet.</td>
            {% endif %}
        </tr>
        <tr>
            <td class="text-left font-semibold">Preferred Languages: </td>
            {% if user.preferred_languages %}
            {% for language in user.preferred_languages.all %}
            <td class="text-right">{{ language.name }}</td>
            {% endfor %}
            {% else %}
            <td class="text-right">No preferred languages available.</td>
            {% endif %}
        </tr>
    </table>
      <a href="{% url 'profile' %}" class="windows95-submit-button">Edit Profile</a>
    </div>

    <div
      class="windows95-box max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
      <div class="windows95-form-title">
        <h2 class="windows95-form-title-text">Recent Community Posts</h2>
      </div>
      <table class="w-full">
        {% if posts %} 
        {% for post in posts %}
        <tr>
            <td class="text-left font-semibold">{{ post.title }}</td>
            <td class="text-right">{{ post.content|truncatewords:20 }}</td>
            {% endfor %}
            {% else %}
            <td class="text-left font-semibold">No recent forum posts.</td>
            {% endif %}
        </tr>
    </table>
      <a href="{% url 'forum' %}" class="windows95-submit-button">View Community</a>
    </div>

    <div
      class="windows95-box max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
      <div class="windows95-form-title">
        <h2 class="windows95-form-title-text">Messages</h2>
      </div>
      <table class="w-full">
        {% if messages %}
        {% for message in messages %}
        <tr>
            <td class="text-left font-semibold">{{ message.sender.username }}:</td>
            <td class="text-right">{{ message.content|truncatewords:10 }}</td>
            {% endfor %}
            {% else %}
            <td class="text-left font-semibold">No messages yet.</td>
            {% endif %}
        </tr>
    </table>
    <a href="{% url 'connections' %}" class="windows95-submit-button">Make Connections</a>
    </div>
    {% endif %}
  </div>
  {% endblock %}
</div>
