{% extends "base.html" %}
{% load static %}
{% url 'account_login' as login %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- index.html content starts here -->
<div class="container windows95-style">
    <div>
        <h1>Welcome to Mentor Matrix</h1> <img src="{% static 'icons/codinghands.png' %}" alt="hands coding">
    </div>

    
    <p>Mentor Matrix is a dynamic, retro-inspired mentorship platform designed to connect and empower individuals of all genders who are passionate
         about technology and innovation. While championing the voices and achievements of women in tech, the platform welcomes everyone who seeks to learn, share, and grow in a supportive community.
        We aim to build bridges between mentors and mentees.  Users can form relationships that transcend boundaries and celebrate diversity. 
        Mentor Matrix is a space where mentoring meets the magic of inclusivity and technology.
        </p>
    <h3 class="rainy">Get Involved</h3>
    <p>Build your profile: <a href="{% url 'dashboard' %}"><img src="{% static 'icons/profile.png' %}" alt="a computer"></a> </p>
    <p>
        Connect with others: <a href="{% url 'connections' %}"><img src="{% static 'icons/connections.png' %}" alt="connections icon"></a>
    </p>
    <img src="{% static 'images/mentoring.png' %}" alt="Pixel style art of a person mentoring another person.">
    <p>Got questions? </p>
    <img src="{% static 'images/question.png' %}" alt="Pixel style art of a person thinking about code.">
    <p>We got you!</p>
    <img src="{% static 'images/solutionsimg.png' %}" alt="Pixel style art of a woman thinking about brilliant coding solutions">
    <p>Join the community: <a href="{% url 'forum' %}"><img src="{% static 'icons/community.png' %}" alt="community icon"></a></p>
    <p>Learn more about us: <a href="{% url 'about' %}"><img src="{% static 'icons/about.png' %}" alt="about icon"></a></p>
    {% if user.is_authenticated %}
    <h1>Welcome, <span class="rainy"> {{ user.username }}!</span></h1>
    <p>Here is some information for logged-in users.</p>
    <p>You have <div>0</div> connections currently.</p>
    <!-- Add more content for logged-in users here -->
    <p><a href="#">Log out</a></p><img src="{% static 'icons/logout.png' %}" alt="logout icon">


{% else %}
    <h1>Welcome to Mentor Matrix</h1>
    <p>This is a space to find others with experience and to share your own knowledge.</p>
    <p>Please <a href="">log in</a> to access more features.</p>
{% endif %}
</div>




<!-- index.html content ends here -->
{% endblock %}