{% extends "base.html" %}
{% load static %}
{% url 'account_login' as login %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- index.html content starts here -->
<div class="index-container">
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Welcome to Mentor Matrix</h2>
        </div>
        <img src="{% static 'images/welcome-girl.png' %}" alt="Pixel art image of a girl entering a world of coding.">
        <p>Mentor Matrix is a dynamic, retro-inspired mentorship platform designed to connect and empower individuals of all genders who are passionate
            about technology and innovation. While championing the voices and achievements of women in tech, the platform welcomes everyone who seeks to learn, share, and grow in a supportive community.
           We aim to build bridges between mentors and mentees.  Users can form relationships that transcend boundaries and celebrate diversity. 
           Mentor Matrix is a space where mentoring meets the magic of inclusivity and technology.
           </p>
    </div>

    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Make mentorship connections</h2>
        </div>
        <img src="{% static 'images/mentoring.png' %}" alt="Pixel art image of a woman mentoring another.">
        <p>Find mentors and mentees who share your interests.</p>
    </div>
    
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Register & build your profile</h2>
        </div>
        <img src="{% static 'images/solutionsimg.png' %}" alt="Pixel art image of a woman coding.">
        <p>Choose which coding languages you are interested in.</p>
    </div>
</div>

<div class="index-container">
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Connect with others</h2>
        </div>
        <img src="{% static 'images/connections.png' %}" alt="Pixel art image of two women collaborating on a project.">
        <p>Find mentors and mentees who share your interests.</p>
    </div>

    
    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Get Involved</h2>
        </div>
        <img src="{% static 'images/coding.png' %}" alt="Pixel art image of a woman coding.">
        <p>New coders and old pros alike can find a place to connect, learn, and grow.</p>
    </div>

    <div class="windows95-form max-w-full sm:max-w-md md:max-w-lg lg:max-w-xl mx-auto">
        <div class="windows95-form-title">
            <h2 class="windows95-form-title-text">Get help from our forum</h2>
        </div>
        <img src="{% static 'images/question.png' %}" alt="Pixel style art of a person thinking about code.">
        <p>Got questions?</p>
        <p>We got you!</p>
    </div>




</div>

<!-- 
<p>: <a href="{% url 'account_signup' %}"><img src="{% static 'icons/profile.png' %}" alt="a computer"></a> </p>
<p>
    <a href="{% url 'account_login' %}"><img src="{% static 'icons/connections.png' %}" alt="connections icon"></a>
</p>
<p>Log in & join the community: <a href="{% url 'forum' %}"><img src="{% static 'icons/community.png' %}" alt="community icon"></a></p>
 <a href="{% url 'contactapp-urls:contact' %}"></a>

<p>Learn more about us: <a href="{% url 'about' %}"><img src="{% static 'icons/about.png' %}" alt="about icon"></a></p> -->


<!-- index.html content ends here -->
{% endblock %}