{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Mentor Matrix</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen"></body>>

<header>
    <h1 class="header">Mentor Matrix</h1>
</header>
<!-- Header / Navigation -->
<nav class="w-full bg-teal-700 shadow-md p-4 flex items-end relative">
    <p class="text-3xl font-mono font-bold text-black bg-gray-200 px-4 py-2 rounded-t-lg">Mentor Matrix</p>

    <div class="flex gap-2 absolute bottom-0 right-0 pr-4">
        <a href="{% url 'home' %}"
            class="px-4 py-2 bg-gray-200 text-black font-mono text-lg hover:bg-white hover:text-black rounded-t-md border border-black">home</a>
        <a href="{% url 'dashboard' %}"
            class="px-4 py-2 bg-gray-200 text-black font-mono text-lg hover:bg-white hover:text-black rounded-t-md border border-black">dashboard</a>
        <a href="{% url 'forum' %}"
            class="px-4 py-2 bg-gray-200 text-black font-mono text-lg hover:bg-white hover:text-black rounded-t-md border border-black">community</a>
        <a href="{% url 'connections' %}"
            class="px-4 py-2 bg-gray-200 text-black font-mono text-lg hover:bg-white hover:text-black rounded-t-md border border-black">connections</a>
        <a href="{% url 'about' %}"
            class="px-4 py-2 bg-gray-200 text-black font-mono text-lg hover:bg-white hover:text-black rounded-t-md border border-black">about
            us</a>
    </div>
</nav>

<!-- Main Content -->
<main>
    {% block content %}
    <!-- Content -->
    {% endblock content %}
</main>

<!-- Footer -->

<footer class="w-full bg-teal-700 shadow-md p-4 flex items-center justify-between fixed bottom-0 left-0">
    <p class="ml-4 text-base sm:text-lg font-mono font-bold text-black bg-gray-200 px-4 py-2 rounded-b-lg">Mentor
        Matrix</p>
    <p class="ml-4 text-base sm:text-lg font-mono font-bold text-black bg-gray-200 px-4 py-2 rounded-b-lg">© Team
        TechForHer </p>

    <p class="ml-4 mr-4 text-base sm:text-lg font-mono bg-gray-200 px-4 py-2 rounded-b-lg">
        <a href="#" class="text-black font-bold hover:text-teal-700 text-lg font-mono">Contact Us</a>
    </p>


</footer>

<!--Scripts -->
<script src="../static/js/script.js"></script>

<!-- Custom JS -->

<script src="{% static 'js/script.js' %}"></script>

</body>


</html>