{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Mentor Matrix</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>

    <header>
        <h1 class="header">Mentor Matrix</h1>
    </header>
    <!-- Header / Navigation -->
    <nav class="w-full bg-teal-700 shadow-md p-4 flex items-end relative">
        <p class="text-3xl font-mono font-bold text-black bg-gray-200 px-4 py-2 rounded-t-lg">Mentor Matrix</p>

        <div class="flex gap-2 absolute bottom-0 right-0 pr-4">
            <a href="#"
                class="px-4 py-2 bg-gray-200 text-black font-mono text-lg hover:bg-white hover:text-black rounded-t-md border border-black">dashboard</a>
            <a href="#"
                class="px-4 py-2 bg-gray-200 text-black font-mono text-lg hover:bg-white hover:text-black rounded-t-md border border-black">community</a>
            <a href="#"
                class="px-4 py-2 bg-gray-200 text-black font-mono text-lg hover:bg-white hover:text-black rounded-t-md border border-black">connections</a>
            <a href="#"
                class="px-4 py-2 bg-gray-200 text-black font-mono text-lg hover:bg-white hover:text-black rounded-t-md border border-black">about
                us</a>
        </div>
    </nav>
  
    <!-- navbar just for jo -->
    <nav>
        <a href="{% url 'home' %}">home</a>
        <a href="{% url 'dashboard' %}">dashboard</a>
        <a href="{% url 'forum' %}">forum</a>
        <a href="{% url 'connections' %}">connections</a>
        <a href="{% url 'about' %}">about</a>
    </nav>


    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Content -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer></footer>

    <!--Scripts -->
    <!-- Custom JS -->

    <script src="{% static 'js/script.js' %}"></script>

</body>


</html>